@import "tailwindcss";

@theme inline {
  --font-robotoMono: var(--font-robotoMono);
  --font-koulen: var(--font-koulen);
  --font-pinyon: var(--font-pinyon);
}

html {
  scroll-behavior: smooth;
}

p,
span,
ul,
a {
  font-family: var(--font-robotoMono);
  font-size: clamp(0.7rem, 3vw, 0.95rem);
}

a,
button {
  cursor: pointer;
}
