@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Pinyon+Script&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Style+Script&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0.7rem;
  height: 11vh;

  background: linear-gradient(to top, rgba(0, 0, 0, 0), #00000040);
}

h1 {
  font-family: "Koulen", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
}

p,
span,
ul {
  font-family: "Roboto Mono";
  font-size: 0.6rem;
}

nav ul {
  width: fit-content;
  height: fit-content;
  padding: 0;
}

section {
  padding-block: 3rem;
  padding-inline: 1rem;
}

.landing-wrapper {
  padding: 0;
  background-image: url("./assets/landing.jpeg");
  background-size: 560%;
  background-position: top;
  background-position-y: 20%;
  background-position-x: 51.5%;

  position: relative;
}

.overlay-landing {
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: black;
  opacity: 0.7;
}

.nav-li {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-li:hover {
  list-style: square;
  font-style: italic;
  cursor: pointer;
}

.landing-page {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 105vh;
  justify-content: space-between;
}

.hero-text {
  padding-inline: 1rem;
}

.hero-text p,
.hero-text span {
  font-size: 3rem;
  font-family: "Koulen", sans-serif;
  color: rgb(233, 233, 233);
}

.hero-text .script-text {
  background-color: red;
  padding-inline: 0.5rem;
}

.landing {
  font-family: "Koulen", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0rem;
  padding-inline: 0.5rem;

  /*   background-color: beige; */
  /* height: 90vh; */
}

.landing span {
  font-size: 14rem;
  font-weight: 500;
  line-height: 0.76;

  color: black;

  font-family: "Koulen", sans-serif;
}

.about-section {
  padding-block-start: 5rem;
  padding-block-end: 3rem;
  padding-inline: 1rem;
}

.about-details {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0;
}

.logo-about,
.about-text {
  font-family: "koulen", sans-serif;
  line-height: 1.1;
  font-size: 2.2rem;
  width: 22ch;
}

.scroll {
  text-align: right;
}
.header,
.landing,
.about-section,
.landing span,
.hero-text p,
.hero-text span {
  position: relative;
  z-index: 6;
  color: rgb(233, 233, 233);
}

.project-h1 {
  font-size: 4rem;
  text-align: center;
}

.enter-svg-container {
  width: 0.75rem;
  aspect-ratio: 1;
}

.project-meta {
  display: flex;
  justify-content: space-between;
}

.project-meta :nth-child(2) {
  text-align: end;
}

.card-text-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.visit-project {
  padding-top: 2rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.project-images {
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact,
.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-wrapper {
  position: relative;
  background-image: url("./assets/connect.jpeg");

  background-position: center;
  background-position-x: 65%;
  background-size: cover;
  height: 100%;
  padding: 0;
  padding: 1rem;
}

.overlay-footer {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: radial-gradient(transparent, black);
  opacity: 0.6;
}

.header-welcome-text-wrapper,
.hello,
.contact-links {
  z-index: 1;
}

.header-welcome-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.contact {
  height: 100vh;
  padding: 1rem;
  color: white;
  margin-top: 4rem;
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hello {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "koulen", sans-serif;
  font-weight: 600;
  line-height: 1;
}

.hello p {
  font-size: 4rem;
}

.nav-footer {
  list-style: none;
}

.contact-links {
  font-family: "koulen", sans-serif;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
}

.copyright-sym svg {
  font-size: 1rem;
  display: grid;
  place-content: center;
  color: white !important;
}

.copyright-sym svg text {
  fill: white;
  text-anchor: middle;
}

.arrow-svg {
  width: 1rem !important;
  height: 1rem !important;
  transform: rotate(-90deg);
  color: white;
}

.socials-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ig .arrow-svg {
  transform: rotate(90deg);
}

ul .arrow-svg {
  transform: rotate(0deg);
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.social-text {
  font-family: "Koulen", sans-serif;
  font-size: 1.2rem;
}
